.Header-main {
	width: 70%;
	padding-top: 100px;
	padding-bottom: 20px;
	margin: 0 auto;
	padding: auto 20px;
	flex-wrap: wrap;
}
.Header-box {
	height: 140px;
	width: 140px;
	background-color: cadetblue;
	border: 1px solid grey;
}

.Header-slider-item {
	height: 200px;
	text-align: center;
}

.Header-slider-item h2,
.Header-slider-item p {
	color: white;
}

.Header-slider-item h2 {
	font-size: 40px;
}

.Header-slider-item p {
	width: 80%;
	margin: 10px auto;
}

.header-slider-btn {
	margin-top: 25px;
	padding: 15px 40px;
	cursor: pointer;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.25);
	border: 2px solid white;
	color: white;
}

.header-slider-btn:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.header-feature {
	width: 80%;
	background-color: #1e1e1e;
	margin: 0 auto;
	text-align: center;
	transform: translateY(35%);
}

.header-feature-heading {
	padding: 50px 0;
}

.header-txt-red {
	color: #ea4839;
}

.HeaderFeatureText,
.header-feat-text {
	color: #686868;
}

.header-feat-head,
.HeaderFeatureHeading {
	color: white;
}

.HeaderFeatureIcon {
	font-size: 2rem;
	color: #ea4839;
}

.header-feature-heading {
	margin: 10px 0;
	font-weight: 500;
}

.HeaderFeatureItem {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 200px;
}

.flex-box {
	display: flex;
	justify-content: space-evenly;
}
