footer {
	padding-top: 60px;
	padding-bottom: 1px;
	width: 80%;
	margin: 0 auto;
	background-color: #191919;
	position: relative;
	margin-top: 80px;
}

.ft-gotop-btn {
	background: transparent;
	border: none;
	padding: 10px 10px;
	color: #444;
}

.ft-flex-box {
	display: flex;
	justify-content: center;
	position: relative;
}

.ft-gotop-btn {
	position: absolute;
	right: 0;
	top: 0;
}

.ft-cont {
	width: 20%;
}

.ft-span-i {
	color: white;
	margin-top: 10px;
}

.ft-vertical-line {
	height: 340px;
	background-color: #252525;
	width: 0px;
	border: 1px solid #252525;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0 10px;
	transform: translateY(0px);
}

.ft-hr {
	width: 80%;
	margin: 0 auto;
	background-color: #252525;
	border: 1px solid #252525;
}

.ft-cont p {
	font-size: 0.6875rem;
	color: #686868;
}

.ft-cont-p-sec {
	margin-top: 20px;
}

.ft-cont-white {
	color: white;
}

.ft-cont-red {
	color: #ea4839;
}

.ft-cont-red,
.ft-cont-white {
	font-size: 0.6875rem;
}

.ft-quick-links {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 150px;
	margin-top: 15px;
}

.ft-quick-links span {
	color: #686868;
	margin-top: 8px;
	font-size: 0.75rem;
	cursor: pointer;
}

.ft-quick-links span:hover {
	color: #ea4839;
}

.ft-cont-head-span {
	margin-left: 10px;
}

.submit-email {
	height: 50px;
	display: flex;
	align-items: center;
	width: 90%;
}

.submit-email-input {
	background-color: #282828;
	border: none;
	color: #686868;
	height: 30px;
	padding: 0 10px;
	width: 100%;
}

.submit-email-btn {
	border: none;
	border-radius: 0;
	background-color: #ef4933;
	color: white;
	font-weight: 500;
	height: 30px;
	padding: 0 5px;
	text-transform: uppercase;
	cursor: pointer;
}

.submit-email-btn:hover {
	box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.ft-btm {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	width: 80%;
	margin: 30px auto;
}

.ft-btm-copyright,
.ft-btm-love {
	font-size: 10px;
}

.ft-btm-copyright,
.ft-btm-love span {
	color: #686868;
}

.ft-btm-love i {
	font-size: 0.8rem;
	color: #ea4839;
}

.ft-btm-love span {
	margin-left: 10px;
}

.ft-btm-social {
	width: 30%;
	display: flex;
	justify-content: space-around;
}

.ft-btm-social-i {
	height: 22px;
	border-radius: 50%;
	background-color: #777;
	color: #1b1b1b;
	width: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ft-btm-social-i i {
	font-size: 0.75rem;
	cursor: pointer;
}

.ft-btm-social-i:hover {
	background-color: #ef4933;
}
